@import url('./style.css');

.mensagem-erro {
  color: red;
  font-size: 0.85em;
  margin-top: 5px;
}

.mesagem-sucesso {
  color: green;
  font-size: 0.85em;
  margin-top: 5px;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9em;
}

.login-link a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
